@import "reset-css";
@import "../../config/variables";

body {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $bg-color;
  @import url("https://fonts.googleapis.com/css?family=Barlow:400,700|Roboto:400,700");
  font-family: "Barlow", sans-serif;
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}
