@import "../../config/variables";

.photoActions {
  .iconColumn {
    margin-bottom: 5px;
    .icon {
      margin-right: 15px;
      cursor: pointer;
    }
  }
  .likeCountColumn {
    margin-bottom: 10px;
    .likeCount {
      font-weight: 600;
      font-size: 14px;
      cursor: pointer;
    }
  }
}
